.DS_Store
node_modules
_site

current_task.md

# build output
dist

# dependencies
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# vscode settings and dictionaries
.vscode

# webstorm settings and dictionaries
.idea

# package lock
package-lock.json

# astro build files
.astro