---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { authorData } from '../data/author.js'
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item">
      <a href="/about/">About</a>
    </li>
    <li class="menu-item">
      <a href="/portfolio/">Portfolio</a>
    </li>
    <li class="menu-item">
      <a href={authorData.social.coffee.url} class="coffee-link" title={authorData.social.coffee.label}>
        <Icon name={authorData.social.coffee.icon} />
        <span>{authorData.social.coffee.label}</span>
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }

    .coffee-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.2s ease;
      border: 2px solid var(--action-color);
      border-radius: 2rem;
      background-color: var(--background);
      padding: 0.5rem 1rem;
      color: var(--action-color);
      text-decoration: none;

      [data-icon] {
        width: 1.2rem;
        height: 1.2rem;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        background-color: var(--action-color);
        color: var(--background);

        [data-icon] path {
          fill: var(--background);
        }
      }
    }
  }
</style>
